%h1 New anniversary

=form_for(@anniversary) do |f|
  .form-field
    = f.label :anniversary
    = f.text_field :anniversary
    = f.label :description
    = f.text_area :description
  .submit-field
    = f.submit

= link_to 'Back', anniversaries_path
