%h1 一日を終わらせる

%p 時空を歪ませて「今」を記念日にしましょう！

=form_for(@anniversary) do |f|
  .form-field
    = f.label 'タイトル'
    = f.text_field :anniversary
    = f.label '詳細'
    = f.text_area :description
  .submit-field
    = f.submit '一日を終わらせる'

= link_to 'Back', anniversaries_path
