%p#notice= notice

.anniversary
  .date
    %span= @anniversary.date.strftime("%Y-%m-%d")

  .an-anniversary
    %span 記念日名
    %h1= @anniversary.anniversary


  .description
    %span 詳細
    %h3= @anniversary.description

.link
= link_to '一日一覧', anniversaries_path
