!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "CUTEND"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/favicon.ico" rel="shortcut icon")
    %link(href="/cutend-logo-square.png" rel="apple-touch-icon")

  %body
    .navbar.navbar-fixed-top
      -if authenticated?
        .navbar-inner
          .container
            %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand(href="/anniversaries")
              %img(src="/images/cutend-logo-opt-white.png" height="40")
            .container.nav-collapse
              %ul.nav.pull-right
                %li= image_tag current_user.icon_url, :class => "avatar size32"
                %span= current_user.twitter_id
                %li= link_to "一日を終わらせる", "/anniversaries/new"
                %li= link_to "一日一覧", "/anniversaries"
                %li= link_to "ヘルプ", "/help"
                %li= link_to "ログアウト", "/logout"

  = yield

  /
    Javascripts
    \==================================================
  / Placed at the end of the document so the pages load faster
  = javascript_include_tag "application"
